---
search: false
---

@charset "utf-8";

/* $body-color:  #261E47;
$background-color: #A5DEE4;
$text-color: #261E47;
$link-color: #113285;
$masthead-link-color: #261E47;
$border-color: #81C7D4;
$primary-color: #261E47;
*/
$link-color: #113285;
$primary-color: #261E47;

/*
$body-color:  white;
$background-color: #261E47;
$text-color:  white;
$link-color: #A5DEE4;
$masthead-link-color: white;
$border-color: #261E47;
$primary-color: white;
*/


p {
     text-align: justify;
   }


$paragraph-indent: false;



/* system typefaces */
$serif      : "Playfair Display", Georgia, "Times New Roman", Times, serif;
$sans-serif : "Open Sans", Arial, Helvetica, sans-serif;
$monospace  : "Courier New", Courier, monospace;


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

